@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.img_cv {
    animation: fadeIn 2s;
    margin-top: 30px;
    max-width: 100%; /* Ajusta el ancho máximo al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste proporcionalmente al ancho */
}

#download-button {
    background-color: #18125a;
    color: white;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: fadeIn 2s;
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
}

#download-button:hover {
    background-color: #1b3f1d;
}

.icono-c {
    height: 80px;
    width: auto; /* Permite que el ancho se ajuste proporcionalmente a la altura */
    margin-right: 5px;
}

@media (max-width: 768px) {
    .img_cv {
        max-width: 100%; /* Ajusta el ancho máximo al 100% del contenedor en pantallas pequeñas */
        height: auto; /* Permite que la altura se ajuste proporcionalmente al ancho */
    }

    #download-button {
        width: 100%; /* Ajusta el ancho al 100% del contenedor en pantallas pequeñas */
    }
}
